@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press start 2p', cursive;
}
body {
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}
.container {
  width: 500px;
  background-color: black;
  color: greenyellow;
  border-radius: 100px;
  border: 30px solid rgba(93, 90, 88, 0.522);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  .block_1 {
    display: flex;
    gap: 10px;
  }
  .block_2 {
    display: flex;
    gap: 10px;
  }
  #clock {
    font-size: 40px;
  }
}
